# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  name: 'Local_Agent'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- task: BatchScript@1
  inputs:
    filename: '"C:\Program Files\SmartBear\ReadyAPI-3.2.0\bin\loadtestrunner.bat"'
    arguments: '"C:\Users\nathan.wright\AppData\Roaming\Microsoft\Windows\Network Shortcuts\REST-Sample-Project-readyapi-project.xml" "-nLoad Test 1" "-EDefault environment" -rC:\Users\nathan.wright\Downloads\_deployment\output_results -FXML -j'
