
.side-bar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
    background-color: #0B1B36;
    color: #ffffff;
  }
  
  .side-bar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
    background-color: #193057;
    border-bottom: 5px solid #D4BE7D;
  }
  
  .side-bar-header h1 {
    margin: 0;
    font-size: 36pt;
  }
  
  .side-bar-body {
    padding-left: 10px;
  }
  
  .api-link {
    margin-top: 10px;
    font-size: 12pt;
    transition: all .1s ease;
    padding-left: 10px;
  }
  
  .api-link:hover {
    cursor: pointer;
    border-left: 5px solid #B32727;
    transition: all .1s ease;
  }
  
  #api-data {
    width: 90vw;
    padding-left: 30px;
    padding-top: 30px;
    overflow-y: scroll;
  }